.alert-container {
  padding: 0.7em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.alert-container-success {
  background-color: #7de36f;
  color: #2a821c;
  border: 2px solid #2a821c;
  border-radius: 5px;
}

.alert-container-error {
  background-color: #de7c7c;
  color: #5b1313;
  border: 2px solid #5b1313;
  border-radius: 5px;
}
