@import '../variables';
@import '../mixins/border';

.select {
  @include border($theme-color-1);
}

.select-inline {
  padding: 0.4em 1em;
}

.input {
  @include border($theme-color-1);
}

.input-inline {
  padding: 0.4em 1em;
}

.input-regular {
  width: 100%;
  padding: 0.4em 1em;
  box-sizing: border-box;
}

.form-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-regular {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-btn-group {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5em;
}
