@import '/src/styles/variables';

.task-list {
  height: 100%;
}

.btn-toggle-new {
  text-align: center;

  & button {
    width: 100%;
    box-sizing: border-box;
  }
}

.task-list-header-text {
  text-align: center;
}

.input-color {
  padding: 0;
  border: 0;
}

.input-shorter {
  width: 50% !important;
}

.task-list-content {
  padding: 1em;
  height: 100%;
  max-height: 500px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  border: 1px solid $theme-color-4;
  overflow-y: auto;

  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
