<div class="task-list">
  <div class="task-list-header">
    <h3 class="task-list-header-text">{{list.name}}</h3>
    <ng-container *ngIf="!list.archived">
      <div class="form-inline">
        <input class="input input-inline input-color" type="color" [(ngModel)]="columnColor">
        <app-button (btnClick)="changeColor()"
                    [btnDisabled]="(fetching$ | async) === true"
                    text="Change color"></app-button>
      </div>
    </ng-container>
  </div>
  <div *ngIf="dragEnabled"
       cdkDropList
       [cdkDropListData]="list.tasks"
       (cdkDropListDropped)="drop($event)"
       class="task-list-content" >
    <div>
      <app-button (click)="toggleNewTask()" class="btn-toggle-new" text="+"></app-button>
      <form *ngIf="!newTaskFormHidden" [formGroup]="newTaskForm" class="form-inline">
        <input type="text" formControlName="name" class="input input-inline input-shorter">
        <app-button type="main" (btnClick)="newTask()" [btnDisabled]="newTaskForm.invalid || (fetching$ | async) === true" text="Confirm"></app-button>
      </form>
    </div>
    <p *ngIf="list.tasks.length === 0">This list is empty. Add new or drag a task here.</p>
    <app-task-item
      *ngFor="let task of list.tasks | sortTasks:sort.sort_by:sort.asc"
      [color]="list.color"
      cdkDrag
      cdkDragLockAxis="x"
      [task]="task"></app-task-item>
  </div>
  <div *ngIf="!dragEnabled"
       class="task-list-content" >
    <p *ngIf="list.tasks.length === 0">No archived tasks at the moment.</p>
    <app-task-item
      *ngFor="let task of list.tasks | sortTasks:sort.sort_by:sort.asc"
      [color]="list.color"
      [task]="task"></app-task-item>
  </div>
</div>
