.auth-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.form-auth {
  padding: 1em;
  width: 300px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.form-auth-heading {
  margin-top: 0;
}
