@import '/src/styles/variables';

.btn {
  color: $font-color-light;
  border: 2px solid $theme-color-1;
  border-radius: 5px;

  &:hover {
    transition: 300ms;
    cursor: pointer;
  }

  &:disabled {
    background-color: $theme-color-4;
    color: $font-color-light;
    border: 2px solid $theme-color-4;
  }

  &:disabled:hover {
    cursor: not-allowed;
    background-color: $theme-color-4;
    color: $font-color-light;
    border: 2px solid $theme-color-4;
  }
}

@mixin btn-type($main-color, $secondary-color) {
  color: $secondary-color;
  border: 2px solid $main-color;
  background-color: $main-color;

  &:hover {
    color: $main-color;
    background-color: $secondary-color;
  }
}

.btn-main {
  @include btn-type($theme-color-1, $font-color-light);
}

.btn-secondary {
  @include btn-type($font-color-light, $theme-color-1);
  border: 2px solid $theme-color-1;
}

.btn-warning {
  @include btn-type($theme-color-warning, $font-color-light);
}

.btn-danger {
  @include btn-type($theme-color-danger, $font-color-light);
}

.btn-success {
  @include btn-type($theme-color-success, $font-color-light);
}

.btn-small {
  padding: 0.2em 0.4em;
}

.btn-medium {
  padding: 0.4em 1em;
}

.btn-large {
  padding: 1em 2em;
}
