.task-list-container {
  display: grid;
  box-sizing: border-box;
  flex-direction: row;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1em;
  grid-auto-rows: 650px;
  width: 100%;
}

.extras-container {
  @extend .task-list-container;

  & *:last-child {
    grid-column: 2 / 4;
  }
}
