<p *ngIf="boardNotFound$ | async">
  The selected board doesn't exist. Browse the <a href="/dashboard">dashboard</a> to find a valid board.
</p>
<ng-container *ngIf="(boardNotFound$ | async) === false">
  <div *ngIf="board">
    <h1>{{board.name}}</h1>
    <p>{{board.description}}</p>
  </div>
  <app-list-filters
    [filterOptions]="filterOptions"
    [sortOptions]="sortOptions"
    [defaultFilter]="defaultFilter"
    [defaultSort]="defaultSort"
    (changeFilterEvent)="setFilter($event)"
    (changeSortEvent)="setSort($event)"></app-list-filters>
  <div class="task-list-container" cdkDropListGroup>
    <app-task-list
      *ngFor="let list of lists$ | async"
      [dragEnabled]="true"
      [list]="list"></app-task-list>
  </div>
  <div class="extras-container">
    <app-task-list
      [list]="archivedList"></app-task-list>
    <app-comment-stack></app-comment-stack>
  </div>
</ng-container>
