@import '/src/styles/variables';

.comment-stack {
  height: 100%;
}

.comment-stack-header {
  height: 4em;
}

.comments {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  border: 1px solid $theme-color-4;
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
}

.comment-form {
  justify-content: left;
  gap: 1em;
}
