<div class="comment-stack">
  <div class="comment-stack-header">
    <span *ngIf="selectedTask === null"><i>Double click</i> on a task to browse the comments.</span>
    <div *ngIf="selectedTask !== null">
      <span>Browsing comments for task "<i>{{ selectedTask.name }}</i>"</span>
      <form
        [formGroup]="newCommentForm"
        class="form-inline comment-form">
        <input class="input input-inline" type="text" placeholder="Comment text" formControlName="text">
        <app-button (btnClick)="newComment()"
                    [btnDisabled]="newCommentForm.invalid || (fetching$ | async) === true"
                    text="comment"></app-button>
      </form>
    </div>
  </div>
  <div class="comments">
    <p *ngIf="(fetching$ | async) === false && selectedTask && isCommentsEmpty()">This task doesn't have any comments yet.</p>
    <app-comment-item *ngFor="let comment of comments$ | async"
                      [comment]="comment"></app-comment-item>
  </div>
</div>
