<ng-container *ngIf="isLoggedIn()">
  <app-list-filters
    [filterOptions]="filterOptions"
    [sortOptions]="sortOptions"
    [defaultFilter]="defaultFilter"
    [defaultSort]="defaultSort"
    (changeFilterEvent)="setFilter($event)"
    (changeSortEvent)="setSort($event)"></app-list-filters>
  <app-board-list></app-board-list>
  <app-board-modal></app-board-modal>
</ng-container>
<div *ngIf="!isLoggedIn()" class="message-wrapper">
  <div class="message">
    <h1>Welcome to "Task Boards"!</h1>
    <p>Please, log in to start your experience.</p>
  </div>
</div>
