@import '/src/styles/variables';
@import '/src/styles/mixins/border';

.task-item {
  padding: 1em;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 0.7em;
}

.input-edit {
  width: 60%;
}

.btn-toggle-menu {
  @include border($theme-color-1);
  background-color: $font-color-light;
  color: $theme-color-1;
  border: 2px solid $theme-color-1;

  &:hover {
    transition: 300ms;
    cursor: pointer;
  }
}

.toggle-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.task-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.comments-count {
  font-size: $font-size * 0.7;
  color: #323232;
}
