<div [appSetBgColor]="color" (dblclick)="setCommentTask()" class="task-item">
  <span *ngIf="editFormHidden" class="task-name">{{task.name}}</span>
  <form [formGroup]="editForm" *ngIf="!editFormHidden" class="form-inline">
    <input class="input input-inline input-edit" type="text" formControlName="name" placeholder="Name">
    <app-button type="warning" (btnClick)="editTask()" [btnDisabled]="editForm.invalid || (fetching$ | async) === true" text="Confirm"></app-button>
  </form>
  <span class="comments-count">Comments: {{task.comments.length}}</span>
  <div class="toggle-menu-container">
    <button class="btn-toggle-menu" (click)="toggleMenu()">...</button>

  </div>
  <div class="task-menu" *ngIf="!menuHidden">
    <app-button type="secondary"
                size="small"
                (btnClick)="toggleArchive()"
                [btnDisabled]="(fetching$ | async) === true"
                [text]="(task.archived ? 'Restore' : 'Archive')"></app-button>
    <app-button *ngIf="task.archived"
                type="danger"
                size="small"
                (btnClick)="deleteTask()"
                [btnDisabled]="(fetching$ | async) === true"
                text="Delete"></app-button>
    <app-button *ngIf="!task.archived"
                type="main"
                size="small"
                (btnClick)="toggleEdit()"
                [btnDisabled]="(fetching$ | async) === true"
                text="Edit"></app-button>
  </div>
</div>
