@import '/src/styles/variables';

.header {
  padding: 0 5em;
  background-color: $theme-color-1;
  font-size: $font-size;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
}

.nav-container {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-block {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.nav-item {
  text-decoration: none;
  color: $font-color-light;
  padding: 0.3em 0.7em;
  border-radius: 5px;
  border: 2px solid $theme-color-1;
  background-color: $theme-color-1;
}

.nav-text {
  border: 2px solid $theme-color-1;
}

.nav-link {
  &:hover {
    cursor: pointer;
  }
}

.active {
  border: 2px solid $theme-color-2;
  background-color: $theme-color-2;
  &:hover {
    cursor: default;
  }
}
