<header class="header">
  <nav class="nav-container">
    <div class="nav-block">
      <a routerLink="/dashboard" class="nav-item nav-link" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a>
    </div>
    <div *ngIf="isLoggedIn()" class="nav-block">
      <a *ngIf="(user$ | async) !== null" class="nav-item nav-text">Welcome back, {{(user$ | async)?.username}}!</a>
      <a (click)="logout()" class="nav-item nav-link">Log out</a>
    </div>
    <div *ngIf="!isLoggedIn()" class="nav-block">
      <a class="nav-item nav-link" routerLink="/auth/login" routerLinkActive="active" ariaCurrentWhenActive="page">Log in</a>
      <a class="nav-item nav-link" routerLink="/auth/register" routerLinkActive="active" ariaCurrentWhenActive="page">Sign up</a>
    </div>
  </nav>
</header>
