$theme-color-1: #1a73e8;
$theme-color-2: #245aab;
$theme-color-3: #e1e1e1;
$theme-color-4: #8e8e8e;
$theme-color-warning: #ff8e19;
$theme-color-danger: #ee4330;
$theme-color-success: #44be04;
$font-color-light: #fff;
$font-color-light-hover: #dce3e9;
$font-style: Arial, sans-serif;
$font-size: 1em;
