<div class="form-auth-wrapper">
  <form class="form form-regular form-auth" [formGroup]="registerForm">
    <h2 class="form-auth-heading">Sign up</h2>
    <input id="email" type="text" placeholder="Email" formControlName="email" class="input input-regular">
    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert-container-error">
      <span *ngIf="email?.errors?.['required']">*Mandatory field</span>
      <span *ngIf="email?.errors?.['email']">*Must be a valid email</span>
    </div>
    <input id="username" type="text" placeholder="Username" formControlName="username" class="input input-regular">
    <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="alert-container-error">
      <span *ngIf="username?.errors?.['required']">*Mandatory field</span>
      <span *ngIf="username?.errors?.['minlength']">*Must be at least 3 characters long</span>
      <span *ngIf="username?.errors?.['maxlength']">*Must be shorter</span>
    </div>
    <input id="password" type="password" placeholder="Password" formControlName="password" class="input input-regular">
    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert-container-error">
      <span *ngIf="password?.errors?.['required']">*Mandatory field</span>
      <span *ngIf="password?.errors?.['minlength']">*Must be at least 6 characters long</span>
      <span *ngIf="password?.errors?.['maxlength']">*Must be shorter</span>
    </div>
    <input id="repeatPassword" type="password" placeholder="Repeat password" formControlName="repeatPassword" class="input input-regular">
    <div *ngIf="repeatPassword?.invalid && (repeatPassword?.dirty || repeatPassword?.touched)" class="alert-container-error">
      <span *ngIf="repeatPassword?.errors?.['required']">*Mandatory field</span>
    </div>
    <div *ngIf="(repeatPassword?.dirty || repeatPassword?.touched)" class="alert-container-error">
      <span *ngIf="repeatPassword?.value !== password?.value">*Must match with "password" field</span>
    </div>
    <div *ngIf="(fetchMessage$ | async)?.message">
      <div *ngIf="(fetchMessage$ | async)?.status === 'error'" class="alert-container alert-container-error">
        <p>{{(fetchMessage$ | async)?.message}}</p>
      </div>
      <div *ngIf="(fetchMessage$ | async)?.status === 'success'" class="alert-container alert-container-success">
        <p>{{(fetchMessage$ | async)?.message}}</p>
      </div>
    </div>
    <div class="auth-btn-container">
      <app-button [btnDisabled]="registerForm.invalid || (fetching$ | async) === true || repeatPassword?.value !== password?.value"
                  (btnClick)="attemptRegister()"
                  text="Sign up"></app-button>
    </div>

  </form>
</div>
