<div class="comment" [ngClass]="{ 'my-comment': comment.created_by._id === user_id }">
  <span class="comment-author">{{comment.created_by.username}}</span>
  <span class="comment-text">{{comment.text}}</span>
  <div *ngIf="comment.created_by._id === user_id">
    <app-button type="danger"
                size="small"
                (btnClick)="deleteComment()"
                [btnDisabled]="(fetching$ | async) === true"
                text="Delete"></app-button>
  </div>
</div>
