@import '/src/styles/variables';

.comment {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.my-comment {
  text-align: right;
}

.comment-author {
  font-size: $font-size * 1.2;
}

