<div class="form-auth-wrapper">
  <form [formGroup]="loginForm" class="form form-regular form-auth">
    <h2 class="form-auth-heading">Log in</h2>
    <input id="email" type="text" placeholder="Email" formControlName="email" class="input input-regular">
    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert-container-error">
      <span *ngIf="email?.errors?.['required']">*Mandatory field<br></span>
      <span *ngIf="email?.errors?.['email']">*Must be a valid email</span>
    </div>
    <input id="password" type="password" placeholder="Password" formControlName="password" class="input input-regular">
    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert-container-error">
      <span *ngIf="password?.errors?.['required']">*Mandatory field</span>
    </div>
    <ng-container *ngIf="(fetchMessage$ | async)?.message">
      <div *ngIf="(fetchMessage$ | async)?.status === 'error'" class="alert-container alert-container-error">
        <span>{{(fetchMessage$ | async)?.message}}</span>
      </div>
      <div *ngIf="(fetchMessage$ | async)?.status === 'success'" class="alert-container alert-container-success">
        <span>{{(fetchMessage$ | async)?.message}}</span>
      </div>
    </ng-container>
    <div class="auth-btn-container">
      <app-button [btnDisabled]="loginForm.invalid || (fetching$ | async) === true" (btnClick)="attemptLogin()" text="Log in"></app-button>
    </div>
  </form>
</div>
