/* You can add global styles to this file, and also import other style files */
@import '/src/styles/variables';
@import '/src/styles/core/forms';
@import '/src/styles/core/alerts';

.body {
  margin: 0;
  font-family: $font-style;
}
