<div class="filter-list">
  <form [formGroup]="filterForm" class="filter-container">
    <label for="filter_by">Filter by:</label>
    <select id="filter_by" class="select select-inline" formControlName="filter_by">
      <option *ngFor="let option of filterOptions" [value]="option.alias">{{option.description}}</option>
    </select>
    <input type="text" class="input input-inline" formControlName="filter">
  </form>
  <form [formGroup]="sortForm" class="filter-container">
    <label for="sort_by">Sort by:</label>
    <select id="sort_by" class="select select-inline" formControlName="sort_by">
      <option *ngFor="let option of sortOptions" [value]="option.alias">{{option.description}}</option>
    </select>
    <app-button [text]="(order ? 'ASC' : 'DESC')" (btnClick)="toggleOrder()"></app-button>
  </form>
  <div class="filter-container">
    <app-button text="Reset" type="secondary" (btnClick)="resetFilters()"></app-button>
  </div>
</div>
