.filter-list {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin: 2em 0;
  justify-content: flex-end;
}

.filter-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}
