<div class="board-item">
  <div *ngIf="board"  class="board-item-regular" (dblclick)="openBoard()">
    <div class="board-item-body" [ngClass]="{ 'expanded': !showMenu, 'retracted': showMenu }">
      <p class="board-name">{{board.name}}</p>
      <p class="board-description">{{board.createdDate | date:'short'}}</p>
      <app-button class="btn-menu" size="small" type="secondary" (btnClick)="toggleMenu()" text="..."></app-button>
<!--      <app-button size="small" type="main" (btnClick)="openBoard()" text="Details"></app-button>-->
<!--      <button class="menu-btn" (click)="toggleMenu($event)">...</button>-->
    </div>
    <div class="board-item-menu" [ngClass]="{ 'expanded': showMenu, 'retracted': !showMenu }">
      <app-button size="small" type="secondary" (btnClick)="editBoard()" text="Edit"></app-button>
      <app-button size="small" type="secondary" (btnClick)="deleteBoard()" text="Delete"></app-button>
    </div>
  </div>
  <div *ngIf="!board" class="board-item-new">
    <div class="board-item-new-content">
      <span>Add new board</span>
      <button class="btn-add" (click)="newBoard()">+</button>
    </div>
  </div>
</div>
