@import '/src/styles/variables';

$animation-transform-duration: 300ms;
$animation-reveal-duration: 200ms;
.board-item {
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);

}

.board-item-new {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-item-new-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.btn-add {
  height: $font-size * 2;
  width: $font-size * 2;
  font-size: $font-size * 1.2;
  color: $theme-color-1;
  border: 2px solid $theme-color-1;
  border-radius: 50%;
  background-color: $font-color-light;

  &:hover {
    color: $font-color-light;
    background-color: $theme-color-1;
    cursor: pointer;
    transition: 300ms;
  }
}

.board-item-regular {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.btn-menu {
  position: absolute;
  top: 50%;
  right: 10px;
}

.board-item-body {
  padding: 0 1em;
  &.expanded {
    padding-bottom: 30%;
    height: 100%;
    transition-property: height, padding-bottom;
    transition-duration: $animation-transform-duration;
    transition-delay: $animation-reveal-duration;
  }
  &.retracted {
    height: 70%;
    transition: $animation-transform-duration;
  }
}

.board-item-menu {
  background-color: $theme-color-3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &.expanded {
    height: 30%;
    transition: $animation-transform-duration;
    & > * {
      opacity: 100%;
      transition-property: opacity;
      transition-duration: $animation-reveal-duration;
      transition-delay: $animation-transform-duration;
    }
  }
  &.retracted {
    height: 0;
    transition-property: height;
    transition-duration: $animation-transform-duration;
    transition-delay: $animation-reveal-duration;
    & > * {
      visibility: hidden;
      opacity: 0;
      transition: $animation-reveal-duration;
    }
  }
}
