<div class="board-modal-wrapper" *ngIf="(hidden$ | async) === false">
  <div class="board-modal">
    <div *ngIf="data.mode === 'new'" class="form-regular">
      <h2>Create new board</h2>
      <input class="input input-regular" [(ngModel)]="name" type="text" placeholder="Name">
      <input class="input input-regular" [(ngModel)]="description" type="text" placeholder="Description">
      <div class="form-btn-group">
        <app-button type="secondary"
                    (btnClick)="hideModal()"
                    [btnDisabled]="(this.fetching$ | async) === true"
                    text="Decline"></app-button>
        <app-button type="main"
                    (btnClick)="newBoard()"
                    [btnDisabled]="(this.fetching$ | async) === true || name.trim().length === 0"
                    text="Create"></app-button>
      </div>
    </div>
    <div *ngIf="data.mode === 'edit'" class="form-regular">
      <h2>Edit "{{data.name}}" board</h2>
      <input [(ngModel)]="name" type="text" placeholder="Name" [value]="data.name">
      <input [(ngModel)]="description" type="text" placeholder="Description" [value]="data.description" disabled>
      <div class="form-btn-group">
        <app-button type="secondary"
                    (btnClick)="hideModal()"
                    [btnDisabled]="(this.fetching$ | async) === true"
                    text="Decline"></app-button>
        <app-button type="warning"
                    (btnClick)="editBoard()"
                    [btnDisabled]="(this.fetching$ | async) === true || name.trim().length === 0"
                    text="Confirm"></app-button>
      </div>
    </div>
    <div *ngIf="data.mode === 'delete'" class="form-regular">
      <h2>Delete board</h2>
      <p>Are you sure that you want to delete <b>{{data.name}}</b> board?</p>
      <div class="form-btn-group">
        <app-button type="secondary"
                    (btnClick)="hideModal()"
                    [btnDisabled]="(this.fetching$ | async) === true"
                    text="Decline"></app-button>
        <app-button type="danger"
                    (btnClick)="deleteBoard()"
                    [btnDisabled]="(this.fetching$ | async) === true"
                    text="Delete"></app-button>
      </div>
    </div>
    <ng-container *ngIf="queryResult$ | async">
      <div *ngIf="(queryResult$ | async)" class="alert-container alert-container-success">
        <span>{{queryResult$ | async}}</span>
      </div>
    </ng-container>
  </div>
</div>
