@import '/src/styles/variables';

.board-modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.15);
}

.board-modal {
  padding: 1em;
  width: 80vw;
  max-width: 300px;
  background-color: $font-color-light;
}
